.content-box {
    position: absolute;
    width: 98%;
    height: 98%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid black 4px;
    border-radius: 25px;
    background-color: white;
    overflow: auto;
}

.content-body {
    position: absolute;
    margin-top: 86px;
    width: 100%;
}

.my-tasks {
    font-size: 40px;
    font-weight: bold;
    margin-left: 38%;
    font-family: 'Lato', sans-serif;
}

.date-picker {
    display: none;
}

.react-datepicker-wrapper {
    width: 0;
}

.quote-container {
    color: black;
    margin: 30px 0 35px 0;
    text-align: center;
    padding: 0 5px 0 5px;
}

.quote-text {
    font-family: 'PT Serif', serif;
}

.quote-author {
    font-family: 'Roboto Condensed', sans-serif;
}