.content-box {
    position: absolute;
    width: 98.5%;
    height: 98.5%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid black 4px;
    border-radius: 25px;
    background-color: white;
}

.content-body {
    position: absolute;
    margin-top: 86px;
    width: 100%;
}

.date-picker {
    display: none;
}

.react-datepicker-wrapper {
    width: 0;
}