.content-box {
    background-color: white;
}

.content-body {
    position: absolute;
    margin-top: 86px;
    width: 100%;
}

.date-picker {
    display: none;
}

.react-datepicker-wrapper {
    width: 0;
}