.title {
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: xxx-large;
}

.login-box {
    position: absolute;
    width: 900px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid black 4px;
    border-radius: 25px;
    background-color: white;
}

.sign-in {
    display: flex;
    justify-content: center;
    font-size: 45px;
    padding-top: 45px;
    padding-bottom: 15px;
}